# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/
venv/
ENV/
env/
*.env
*.sqlite3
db.sqlite3

# Node
node_modules/
frontend/node_modules/
/dist
/build

# VS Code
.vscode/

# IDE / system files
.DS_Store
Thumbs.db
